{{this.selectedCompanies.length}}
<table mat-table class="mat-elevation-z8" style="width: 100%;" [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="entityId">
        <th mat-header-cell *matHeaderCellDef> ID de entidad </th>
        <td mat-cell *matCellDef="let element"> {{element.entityId}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de entidad </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="identificationNumber">
        <th mat-header-cell *matHeaderCellDef> Número de identificación de la entidad </th>
        <td mat-cell *matCellDef="let element"> {{element.identificationNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="expirationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de expiración </th>
        <td mat-cell *matCellDef="let element"> {{element.expirationDate}} </td>
    </ng-container>
    <ng-container matColumnDef="contactName">
        <th mat-header-cell *matHeaderCellDef> Nombre de contacto </th>
        <td mat-cell *matCellDef="let element"> {{element.contactName}} </td>
    </ng-container>
    <ng-container matColumnDef="contactMail">
        <th mat-header-cell *matHeaderCellDef> Correo de contacto </th>
        <td mat-cell *matCellDef="let element"> {{element.contactMail}} </td>
    </ng-container>
    <ng-container matColumnDef="ipAddress">
        <th mat-header-cell *matHeaderCellDef> Dirección IP </th>
        <td mat-cell *matCellDef="let element"> {{element.ipAddress}} </td>
    </ng-container>
    <ng-container matColumnDef="logo">
        <th mat-header-cell *matHeaderCellDef> Logo </th>
        <td mat-cell *matCellDef="let element"> {{element.logo}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <div style="display: flex;">
                <button mat-mini-fab color="primary" aria-label="delete" (click)="deleteCompany(element);">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-mini-fab color="primary" aria-label="edit" (click)="openEditCompany(element);">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>